.type{

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(119, 0, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-family: Raleway;
    font-size: 70px;
    color: white;
    font-weight: 900;
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;

        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        
        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: orange; }
        }
  }

  
    .p_portfolio{
    text-align: center;
    padding: 80px;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 600;
   }

   .portfolios1{
       margin-top: 60px;

        .titulo_secciones{
            background: rgb(14,0,255);
            background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(255,255,255,1) 100%);
            font-size: 35px;
            font-weight: 600;
            color: white;
            padding-left: 120px;
            padding-top: 45px;
            padding-bottom: 45px;
            font-family: Raleway;
            margin-bottom: 120px;
        }
   }

   /* estilos galería de imágenes*/

   .item{
       transition: .5s easy-in-out;
   }

   .item:hover{
       filter: brightness(80%);
       transform: scale(0.9);
   }

   .final{
       margin-bottom: 280px;
   }