.parallax {
    margin-top: 130px;
    padding-top: 120px;
    background-image: url("../img/bg_secciones.jpg"); 
    min-height: 400px; 
    background-attachment: fixed;
    background-position:  50% 20%;
    background-repeat: no-repeat;
    background-size:1920px 500px;
    display: flex;
    justify-content: center;

    .parallax_titulo{
        width: fit-content;  
    }

    .type{

        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(119, 0, 255); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        font-family: Raleway;
        font-size: 70px;
        color: white;
        font-weight: 900;
        animation: 
          typing 3.5s steps(20, end),
          blink-caret .75s step-end infinite;

            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }
            
            /* The typewriter cursor effect */
            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: orange; }
            }
      }


        

        

}

.t_sobremi{
    text-align: center;
    padding: 80px;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 600;
}

.sobre_mi{
    display:flex;
    margin-bottom: 70px;
        
        .foto{
            height: 310px;
            position: sticky;
            top: 0;
            margin-bottom: 350px;
            z-index: -1;
            
        }

        .sobre_mi_info{
            display:flex;
            flex-direction:row ;
            flex-wrap: wrap;
            justify-content: center; 
            align-content: center;
            margin-top: 20px;

            .info_sobremi{
                font-size: Raleway;
                font-size: 3em;
                text-align: justify;
                padding: 1em 2em;
                background-color: rgba(255, 255, 255, 0.397);
            }
            .info_carrera{
                font-size: Raleway;
                font-size: 17px;
                text-align: justify;
                color: white;
                background: rgb(0,0,255);
                margin: 40px 85px;
                padding: 2em 2em;
                border-bottom: .5vw solid red;
            }
            
        }

            .sobre_mi_programas{
                display: flex;
                flex-wrap: wrap;
                gap: 75px;
                margin-top: 30px; 
                
            }

            .cont_programas{

                margin-left: 5px;

               .programas{
                    font-family:Raleway;
                    font-weight: 900;
                    background: rgb(121,137,230);
                    background: linear-gradient(82deg, rgba(121,137,230,0.34217436974789917) 3%, rgba(255,255,255,0.47102591036414565) 55%);
                    padding: 7px;
                    border-radius: 10px;
                }
            }

                    .programas1{
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 30px;
                    }
            
            
            
                .progress {
                    background: rgba(49, 3, 109, 0.315);
                    justify-content: flex-start;
                    border-radius: 100px;
                    align-items: center;
                    position: relative;
                    padding: 0 5px;
                    display: flex;
                    height: 40px;
                    width: 300px;

                            .progress-value{
                                box-shadow: 0 10px 40px -10px rgb(18, 4, 97);
                                border-radius: 100px;
                                background: rgb(231, 20, 20);
                                height: 30px;
                                width: 0;
                            }

                                .progress-value p{
                                    color: white;
                                    font-size: 19px;
                                    font-weight: 600;
                                    text-align: center;
                                }
                                
                                .ps {
                                    animation: loadps 15s normal forwards;
                                    
                                }

                                @keyframes loadps {
                                    0% { width: 0; }
                                    100% { width: 80%; }
                                }
                                
                                .ai {
                                    animation: loadai 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadai {
                                    0% { width: 0; }
                                    100% { width: 80%; }
                                }
                                .id {
                                    animation: loadid 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadid {
                                    0% { width: 0; }
                                    100% { width: 50%; }
                                }

                                .ae {
                                    animation: loadae 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadae {
                                    0% { width: 0; }
                                    100% { width: 80%; }
                                }

                                .html {
                                    animation: loadhtml 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadhtml {
                                    0% { width: 0; }
                                    100% { width: 50%; }
                                }

                                .css{
                                    animation: loadcss 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadcss {
                                    0% { width: 0; }
                                    100% { width: 50%; }
                                }
                                
                                .git{
                                    animation: loadgit 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadgit {
                                    0% { width: 0; }
                                    100% { width: 50%; }
                                }

                                .github{
                                    animation: loadgithub 15s normal forwards;
                                    
                                }
                                
                                @keyframes loadgithub {
                                    0% { width: 0; }
                                    100% { width: 50%; }
                                }

                }  
    
}

/* boton ver trabajos*/




    .buttons {
        height: 68px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 650px;

        
    }
    
    $cyan: #0505A9;
    $dark: #FFFFFF;
    $borderW: 2px;
    
    .blob-btn {
        $numOfBlobs: 4;
        z-index: 1;
        position: relative;
        padding: 20px 46px;
        text-align: center;
        text-transform: uppercase;
        color: $cyan;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        outline: none;
        border: none;
        transition: color 0.5s;
        cursor: pointer;
        border-radius:30px;
        
        &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: $borderW solid $cyan;
        border-radius:30px;
        }
        
        &:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: $borderW*1.5;
        top: $borderW*1.5;
        width: 100%;
        height: 100%;
    
        transition: all 0.3s 0.2s;
        border-radius:30px;
        }
        
        &:hover {
        color: $dark;
        border-radius:30px;
        
        &:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius:30px;
        }
        }
        
        &__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:30px;
        background:#ffffff;
        }
        
        // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
        &__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo');
        }
        
        &__blob {
        position: absolute;
        top: $borderW;
        width: 100% / $numOfBlobs;
        height: 100%;
        background: $cyan;
        border-radius: 100%;
        transform: translate3d(0,150%,0) scale(1.7);
        transition: transform 0.45s;
        
        @supports(filter: url('#goo')) {
            transform: translate3d(0,150%,0) scale(1.4);
        }
        
        @for $i from 1 through $numOfBlobs {
            &:nth-child(#{$i}) {
            left: ($i - 1) * (120% / $numOfBlobs);
            transition-delay: ($i - 1) * 0.08s;
            }
        }
        
        .blob-btn:hover & {
            transform: translateZ(0) scale(1.7);
            
            @supports(filter: url('#goo')) {
            transform: translateZ(0) scale(1.4);
            }
        }
        }
        
    }

.espacio_1{
    height: 120px;
    width: 100%;
    background-color: rgb(18, 4, 97);
    padding-bottom: 320px;
    z-index: -1;
}












